 <div class="upper">
    <h1>My Diary</h1>
    <nav>
        <a href="/" class="nav-item <%= activePage === 'dashboard' ? 'active' : '' %>"><i class="bi bi-grid-1x2"></i>  Dashboard</a>
        <a href="/entries" class="nav-item <%= activePage === 'entries' ? 'active' : '' %>" ><i class="bi bi-journals"></i>  Entries</a>
        <a href="/account" class="nav-item <%= activePage === 'account' ? 'active' : '' %>"><i class="bi bi-person"></i>  Account</a>
    </nav>
</div>
<div class="lower">
    <nav>
        <a href="/logout" id="logout-btn" class="nav-item" onclick="confirmLogout(event)">Log Out</a>
    </nav>
</div>