<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diary App</title>
        <link rel="stylesheet" href="/css/style2.css">
        <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    </head>
    <body>
        <div class="container">
        <!-- Sidebar -->
            <div class="sidebar">
               <%- include('../partials/navbar.ejs', { activePage: activePage }) %>
            </div>

            <!-- Main Content -->
            <div class="main-content">
               <%- body %>
            </div>
        </div>
        <script src="/js/script.js"></script>
    </body>
</html>