<h2>Hello, <%= username %>!</h2>

<p>You created your account on: <%= new Date(user.first_used).toLocaleString() %></p>
<p>Your last login: <%= new Date(user.last_used).toLocaleString() %></p>
<p>Your email: <%= user.email %></p>

<p>Delete account?</p>