<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/css/style2.css">
    </head>
    <body>
        <header>
            <div class="header-inner">
                <p>Welcome back, <%= username %>!</p>
                <a href="/logout">Log out</a>
            </div>
        </header>

        <div class="upper-container">
            <div class="date-display">
                <p>Today is</p>
                <p id="date"><%= currentDate %></p>
            </div>
            <div class="new-button">
                <a href="/newentry">+</a>
            </div>
        </div>

        <div class="lower-container">

        </div>
    </body>
</html>