<div class="main-content new-entry">
    <div class="form-container">
        <h2>Add a new entry</h2>
        <form id="new-entry-form" action="/newentry" method="POST" onsubmit="confirmPost(event)" enctype="multipart/form-data">
            <div class="date-title-container">
                <label for="date-input">Select a date:</label>
                <input type="date" name="date" class="styled-input">

                <label for="entry-title">Add a title:</label>
                <input list="prompts"  name="title" class="styled-input" required>
                    <datalist id="prompts">
                        <option value="A moment I want to remember"></option>
                        <option value="How my day went"></option>
                        <option value="Right now I feel..."></option>
                        <option value="What I'm working on"></option>
                        <option value="Something I'm proud of"></option>
                        <option value="A risk I want to take"></option>
                        <option value="Things I'm grateful for"></option>
                        <option value="A letter to my past self"></option>
                        <option value="A conversation I won't forget"></option>
                        <option value="What inspired me today"></option>
                    </datalist>
            </div>

            <label for="entry-content" >What are you thinking about?</label>
            <textarea id="entry-content" name="content" required></textarea>

            <label for="picture">Add a photo (optional):</label>
            <input type="file" name="picture" accept="image/*" id="picture-input">

            <div class="button-container">
                <button type="submit" id="add-btn">Add</button>
            </div>
        </form>
    </div>
    
    <div class="image-container"></div>
</div>