<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Entry</title>
        <link rel="stylesheet" href="/css/style2.css">
    </head>
    <body>
        <div class="container">
        <!-- Sidebar -->
            <div class="sidebar">
                <div class="upper">
                    <h1>My Diary</h1>
                    <nav>
                        <a href="/" class="nav-item">Dashboard</a>
                        <a href="/entries" class="nav-item">Entries</a>
                        <a href="/account" class="nav-item">Account</a>
                        <a href="/settings" class="nav-item">Settings</a>
                    </nav>
                </div>
                <div class="lower">
                    <nav>
                        <a href="/logout" id="logout-btn" class="nav-item">Log Out</a>
                    </nav>
                </div>
            </div>

            <!-- Main Content -->
            <div class="main-content">
                
            </div>
        </div>
    </body>
</html>