@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-bg: #FFFFFF;
    --dark-primary: #E64A19;
    --primary: #FF5722;
    --light-primary: #FFCCBC;
    --accent: #FFC107;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-text: #BDBDBD;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    background-color: var(--primary-bg);
}

/*login and signup styling*/
.container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
}

.login-background {
    background-image: url(/images/login-img.svg);
}

.signup-background {
    background-image: url(/images/signup-img.svg);
}

.login-background, .signup-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px auto;
    width: 50%;
    height: 100vh;
}

.login-container {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container h1 {
    font-family: "Poppins";
    font-weight: 700;
    color: var(--primary);
}

.login-container a {
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 700;
    color: var(--primary);
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container2 {
    border-radius: 20px;
    width:80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    padding: 10px;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.form-container {
    width: 70%;
}

form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 20px;
    width: 100%;
}

input {
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    border: 1.5px solid #afafaf;
    background-color: #f5f5f5;
}

input:focus {
    background-color: var(--light-primary);
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button[type="submit"] {
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary);
    border: none;
    color: var(--primary-bg);
    font-family: "Noto Sans";
}

button[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--dark-primary);
    transition: 0.2s;
}

/*Responsive design*/
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Noto Sans", sans-serif;
        font-weight: 400;
        background-color: var(--primary-bg);
       
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 50px;
    }

    .login-background {
        background-image: url(/images/login-img.svg);
    }

    .signup-background {
        background-image: url(/images/signup-img.svg);
    }

    .login-background, .signup-background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200px auto;
        width: 100%;
        height: 200px;
    }

    .login-container {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-container h1 {
        font-size: 25px;
        font-family: "Poppins";
        font-weight: 700;
        color: var(--primary);
    }

    .login-container a {
        font-size: 15px;
        text-decoration: none;
        font-family: "Poppins";
        font-weight: 700;
        color: var(--primary);
    }

    .login-container a:hover {
        text-decoration: underline;
    }

    .form-container {
        width: 90%;
    }

    form {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
